.one{
    background-color: skyblue !important;
}
#from{
    text-align: center;
    border:  2px solid black;
     margin-left: 35%;
     margin-right: 35%; 
    margin-top: 10%;
    padding-bottom: 5%;
    background-color: whitesmoke;
}
.head{
    font-size: 20px;
}
.username{
    border: none;
    background: none;
     margin-bottom: 1px;
     
}
.hr{
    width: 50%;
    color: black;
}
#button{
    width: 50%;
    margin-top: 5px;
    height: 25px;
    background-color: skyblue;
}